---
---
<script src = "js/qrcode.min.js"></script>
      <table>
        <thead>
          <tr>
              <th>QR</th>
              <th>Section</th>
              <th>URL</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><div id = "#"></div></td>
            <td>Homepage</td>
            <td>https://foweyarttrail.com/</td>
          </tr>
          {% for stop in site.stops %}
          <tr>
            <td><div id = "#stop:{{stop.number}}"></div></td>
            <td>Stop {{stop.number}}</td>
            <td>https://foweyarttrail.com/#stop:{{stop.number}}</td>
          </tr>
          {% endfor %}
          {% for stop in site.stops %}
          {% for exhibitor in stop.exhibitors %}
          <tr>
            <td><div id = "#exhibitor:{{stop.number}}:{{exhibitor.name | slugify}}"></div></td>
            <td>{{exhibitor.name}} at {{stop.number}}</td>
            <td>https://foweyarttrail.com/#exhibitor:{{stop.number}}:{{exhibitor.name | slugify}}</td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>

<script>
      Array.prototype.slice.call(document.getElementsByTagName('div'))
      .forEach(div=>{
            if(div.id.indexOf("#")===0){
                  new QRCode(div, "https://foweyarttrail.com/map"+div.id);
            }
      })
</script>
