<div class = "col s12 m6">
  {% for stop in site.stops %}
  <div class="section">
    <span class = "grey white-text col s12"><span class="badge red white-text">{{stop.number}}</span>{{stop.title}}</span>
    {% for exhibitor in stop.exhibitors %}
      <div class = "row" id = "{{stop.number | slugify }}:{{exhibitor.name | slugify}}">
        <div class = "col s3">
          <img src = "{{exhibitor.image}}" class = "left responsive-img" />
        </div>
        <div class = "col s9">
            <b>{{exhibitor.name}}</b><br>
            <i>{{exhibitor.description}}</i><br>
            {%if exhibitor.email %}<i class="material-icons small">email</i>{{exhibitor.email}}<br>{% endif %}
            {%if exhibitor.website %}<i class="material-icons small">web</i><a href = "{{exhibitor.website}}">{{exhibitor.website}}</a><br>{% endif %}
            {%if exhibitor.telephone %}<i class = "material-icons small">local_phone</i>{{exhibitor.telephone}}<br>{% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="divider"></div>
{% endfor %}
</div>
