<div class = "col s12 m6" id = "scroll-nav">
  {% for stop in site.stops %}
  <div class="section" id = "stop:{{stop.number}}">
    <div class = "valign-wrapper red white-text">
      <span class = "col s2 left-align">{{stop.number}}</span>
      <span class = "grey white-text col s10">{{stop.title}}</span>
    </div>
    <div class = "valign-wrapper">
      <span class = "white black-text col s3">{% for icon in stop.icons %}<i class="material-icons tiny">{{icon}}</i>{% endfor %}</span>
      <span class = "white black-text col s9 right-align hours">
        {{stop.hours}} {{stop.other}}
      </span>
    </div>
    {% for exhibitor in stop.exhibitors %}
      <div class = "row" id = "exhibitor:{{stop.number}}:{{exhibitor.name | slugify}}">
        <div class = "col s4">
          <img src = "{{exhibitor.image}}" alt = "Work from {{exhibitor.name}}" class = "responsive-img" />
        </div>
        <div class = "col s8">
          <div class = "name">{{exhibitor.name}}</div>
          <div class = "type">{{exhibitor.type}}</div>
          <div class = "description">{{exhibitor.description}}</div>
          {% if exhibitor.email %}<div class = "valign-wrapper email"><a href = "mailto:{{exhibitor.email}}"><i class="material-icons tiny">&nbsp;email</i>{{exhibitor.email}}</div>{% endif %}
          {% if exhibitor.website %}<div class = "valign-wrapper web"><a href = "{{exhibitor.website}}"> <i class="material-icons tiny">&nbsp;web</i>{{exhibitor.website}}</a></div>{% endif %}
          {% if exhibitor.telephone %}<div class = "valign-wrapper telephone"><i class = "material-icons tiny">local_phone</i>&nbsp;{{exhibitor.telephone}}</div>{% endif %}
          <div class = "valign-wrapper"><i class = "material-icons tiny">map</i>  <a href = "#top" onclick = "stops['{{stop.number}}'].click()">show on map</a></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="divider"></div>
{% endfor %}
</div>
