<div class = "col s12 m6">
  {% for stop in site.stops %}
  <div class="section">
    <span class = "grey white-text col s12">{{stop.title}}</span>
    {% for exhibitor in stop.exhibitors %}
      <div class = "row" id = "{{exhibitor.name | slugify}}">
        <div class = "col s3">
          <img src = "{{exhibitor.image}}" class = "left responsive-img" />
        </div>
        <div class = "col s9">
            <b>{{exhibitor.name}}</b><br>
            <i>{{exhibitor.description}}</i><br>
            e: {{exhibitor.email}}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="divider"></div>
{% endfor %}
</div>
