{% assign i = 0 %}
<div class = "col s3 m6">
{% for stop in site.stops %}
{% for exhibitor in stop.exhibitors %}
    {%if i < 4 %}
    <img class="col s6 responsive-img" style="padding:0;border:0" src="{{exhibitor.image}}">
    {% endif %}
    {% assign i = i | plus:1 %}
{% endfor %}
{% endfor %}
</div>
<div class = "col s9 m6 green white-text">
</div>

{% assign i = 0 %}
{% for stop in site.stops %}
{% for exhibitor in stop.exhibitors %}
    {%if i > 4 %}
    <img class="col s3 responsive-img" style="padding:0;border:0" src="{{exhibitor.image}}">
    {% endif %}
    {% assign i = i | plus:1 %}
{% endfor %}
{% endfor %}
