{% assign i = 0 %}

<div class="row green" id="cover">
{% for stop in site.stops %}
    {% for exhibitor in stop.exhibitors %}
    <div class="col s6 m3" href="/map/#exhibitor:{{stop.number}}:{{exhibitor.name}}">
        <div class="card">
            <div class="card-image">
                <img src = "{{exhibitor.image}}">
                <span class="card-title">{{exhibitor.name}}</span>
            </div>
        </div>
    </div>
    {% endfor %}
{% endfor %}
</div>
<div id = "cover-title" class = "center grey white-text z-depth-2">
    <h4>Fowey Art Trail</h4>
    <h4><a href = "/map">map</a></h4>
</div>
