<head>
	<meta content="initial-scale=1.0, user-scalable=no" name="viewport">
	<meta charset="utf-8">
	{% seo %}
	<title>{{page.title}}</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
	<style>
		/* {{css_override | default:'{{ page.css | default: "default"}}'}}  | */
	{%include css/{{page.css | default: "default"}}.css %}
	</style>
</head>
