  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{{page.title}}</title>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>           

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
     #map, #map-holder {
        min-height: 100vh;
        height: 100%;
        padding: 0;
      }
    @media(min-width:601px){
      #scroll-nav{
        overflow:scroll;
        max-height:100vh
      }
     }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>


