<head>
	<meta content="initial-scale=1.0, user-scalable=no" name="viewport">
	<meta charset="utf-8">
	{% seo %}
	<title>{{page.title}}</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
	<style>
	{% include css/{{page.layout | default: "default"}}.css %}
	</style>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00aba9">
	<meta name="msapplication-TileColor" content="#00aba9">
	<meta name="theme-color" content="#00aba9">
</head>
