<script>
     var stops = {}
     function initMap() {
       var center = {lat: 50.335458, lng: -4.640939};
       var map = new google.maps.Map(document.getElementById('map'), {
         zoom: 15,
         center: center
       });

      var stopCircle = {
         path: google.maps.SymbolPath.CIRCLE,
         fillColor: 'white',
         fillOpacity: 0.8,
         scale: 10,
         strokeColor: 'red',
         strokeWeight: 3
       };


       map.setOptions({styles: [
         {
           featureType: 'poi',
           stylers: [{visibility: 'off'}]
         },
        {
           featureType: 'poi.park',
           stylers: [{visibility: 'on'}]
         },
         {
           featureType: 'transit',
           elementType: 'labels.icon',
           stylers: [{visibility: 'off'}]
         }
       ]});
          
      var openInfos = [];
      var closeInfos = () => {
          while(openInfos[0]){
               openInfos.pop().close()
          }
      }    
          
      {% for stop in site.stops %}
       stops['{{stop.number}}']={
             info : new google.maps.InfoWindow({
                 maxWidth: 300,
                 {% include blurb.html %}
             }),
             marker : new google.maps.Marker({
                   position: {lat: {{stop.latitude}}, lng: {{stop.longitude}}},
                   icon: stopCircle,
                   label: "{{stop.number}}",
                   map: map,
                   title: "{{stop.title}}"
             })
       }
      {% endfor %}
      var clickHandler = stop => ()=>{
           closeInfos()
           stop.info.open(map,stop.marker);
           openInfos.push(stop.info);
      }
      for(number in stops){
            var stop = stops[number]
            stop.click = clickHandler(stop)
            stop.marker.addListener('click',stop.click)
      }                   
   }
   if(/[?&]show/.test(location.search) && location.hash){
     var parts = location.hash.split(":")
     if(parts[1] && stops[part[1]] && stops[part[1]].click){
          stops[part[1]].click();
     }
   }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQjwrzb1TKcqV3vpeGaHyAgk86lzwMn0o&callback=initMap"></script>
<div class = "col s12 m6" id = "map-holder">
     <div id = "map"></div>
</div>

