#cover {
    padding-bottom:0;
    margin-bottom:0;
    background:url('https://maps.googleapis.com/maps/api/staticmap?center=Fowey,UK&zoom=7&key=AIzaSyDQjwrzb1TKcqV3vpeGaHyAgk86lzwMn0o') no-repeat;
    background-size:cover
}
.card-title a{
  color: white;
 }
@media(min-width:601px){
	#cover-title{
		right:75%;
		width:25vw;
	}
}
html, body {
	margin: 0;
	padding: 0;
}
