#cover {
    overflow: scroll;
    height: 100vh;
    padding-bottom:0;
    margin-bottom:0;
}
#cover-title {
    padding:0;
    position:absolute;
    top: 7px;
    left: 10.5px;
    right: 50%;
    width: 50vw;
}
.card-title a{
  color: white;
 }
.cover-title h4 a{
  color: black;
 }
@media(min-width:601px){
	#cover-title{
		right:75%;
		width:25vw;
	}
}
html, body {
	margin: 0;
	padding: 0;
}
