#cover {
    overflow: scroll;
    max-height: 100vh;
    padding-bottom:0;
}
#cover-title {
    position:absolute;
    top:25%;
    width: 100vw;
    opacity:.5;
}
#cover-title h1,
#cover-title h2 {
    opacity:1;
}
html, body {
	margin: 0;
	padding: 0;
}
