<!DOCTYPE html>
<html>
   {% include head.html %}
  <body id = "top" class = "white">
     <div class = "container" id = "stop-content" >
      <h4>{{page.title}}</h4>
      <h5>Exhibitors</h5>
        <div class = "row">
           {% for exhibitor in page.exhibitors %}
           <div class = "col s4 m2">
             <img src = "{{exhibitor.image}}" alt = "Work from {{exhibitor.name}}" class = "responsive-img" />
           </div>
           <div class = "col s8 m4">
             <div class = "name">{{exhibitor.name}}</div>
             <div class = "type">{{exhibitor.type}}</div>
             <div class = "description">{{exhibitor.description}}</div>
             {% if exhibitor.email %}<div class = "valign-wrapper email"><i class="material-icons tiny">email</i>&nbsp;<a href = "mailto:{{exhibitor.email}}">{{exhibitor.email}}</a></div>{% endif %}
             {% if exhibitor.website %}<div class = "valign-wrapper web"><i class="material-icons tiny">web</i>&nbsp;<a href = "{{exhibitor.website}}">{{exhibitor.website}}</a></div>{% endif %}
             {% if exhibitor.telephone %}<div class = "valign-wrapper telephone"><i class = "material-icons tiny">local_phone</i>&nbsp;{{exhibitor.telephone}}</div>{% endif %}
             <div class = "valign-wrapper"><i class = "material-icons tiny">map</i>&nbsp;<a href = "/map?show#top:{{page.number}}">show on map</a></div>
           </div>
           {% endfor %}
        </div>
        <div class = "row">
          <!-- this is awful -->
          {% assign stops = site.collections | where:"label","stops" %}
          {% assign images = stops[0].files %}
          {% assign this_stop = page.url | replace : "/stop/","" %}
          {% assign images = images | where_exp:"image","image.path contains this_stop" %}
          {% if images.size > 0 %}
          <h5>Selected works</h5>
            {% for image in images %}
              {% if image.path contains this_stop %}
              <div class="col s6 m3">
                <div class="card">
                    <div class="card-image">
                        <img src = "/{{image.name}}" class = "cover-image">
                        <span class="card-title">{{image.basename}}</span>
                    </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
     </div>
  </body>
</html>
